
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center">
        <h2> @ViewBag.Greeting student, How are you?</h2>
        <h3>Hope you will enjoy the course</h3>
        <a asp-action="Apply" class="btn btn-primary">Appl Course</a>
    </div>
    
</body>
</html>
